{% extends "@table/table.html.twig" %}


{% block table %}
{% apply spaceless %}
<div class="ekyna-table">

    {# ERRORS #}
    {{ block('table_errors') }}

    {# FILTERS #}
    {{ block('table_filters') }}

    {# FORM START for selection, batch or export #}
    {% if table.ui.select %}
    <form name="{{ table.vars.name }}" method="GET">{# TODO method option/parameter #}
    {% endif %}

        {# COLUMNS, ROWS AND CELLS #}
        <div class="table-responsive">
            {% set attr = table.vars.attr|default({}) %}
            {% set classes = attr.class|default('') %}
            {% if options.class %}{% set classes = (classes ~ ' ' ~ options.class)|trim %}{% endif %}
            {% set attr = attr|merge({'class': classes}) %}
            <table{{ block('attributes') }}>
                {{ block('table_head') }}
                {{ block('table_body') }}
            </table>
        </div>

        {{ block('table_footer') }}

    {# FORM END for selection or batch actions #}
    {% if table.ui.select %}
    </form>
    {% endif %}
</div>
{% endapply %}
{% endblock table %}


{% block table_errors %}
{% apply spaceless %}
    {% if table.vars.errors is not empty -%}
        {% for error in table.vars.errors -%}
            <div class="alert alert-danger">
                {%- if error.transDomain is same as(false) %}{{ error.message }}{% else %}{{ error.message|trans(error.parameters, error.transDomain) }}{% endif -%}
            </div>
        {%- endfor %}
    {%- endif %}
{% endapply %}
{% endblock table_errors %}


{% block table_filters %}
{% apply spaceless %}
{% if table.available_filters|length > 0 %}
<div class="table-filters">
    <div class="row filters-available">
        <div class="col-md-2">
            <span class="filters-title">{{ 'available_filters'|trans({}, 'EkynaTable') }}</span>
        </div>
        <div class="col-md-10">
            <div class="filters-controls">{{ block('available_filters') }}</div>
        </div>
    </div>
    {% if table.filter_form %}
    <div class="row filters-form">
        <div class="col-md-2">
            <span class="filters-title">
                {{ 'new_filter'|trans({}, 'EkynaTable') }}
                <strong>{{ table.filter_label }}</strong>
            </span>
        </div>
        <div class="col-md-10">
            <div class="filters-controls">
                {{ form_start(table.filter_form) }}
                <input type="hidden" value="{{ table.filter_form.vars.filter_param_value }}"
                       name="{{ table.vars.name }}[{{ table.filter_form.vars.filter_param_name }}]">
                <div class="row">
                    <div class="col-md-3">{{ form_row(table.filter_form.operator) }}</div>
                    <div class="col-md-6">{{ form_row(table.filter_form.value) }}</div>
                    <div class="col-md-3">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-success">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            <a href="javascript: void(0)" class="btn btn-danger table-filter-close">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </div>
                    </div>
                </div>
                {{ form_end(table.filter_form) }}
            </div>
        </div>
    </div>
    {% endif %}
    {% if table.active_filters|length > 0 %}
    <div class="row filters-active">
        <div class="col-md-2">
            <span class="filters-title">{{ 'active_filters'|trans({}, 'EkynaTable') }}</span>
        </div>
        <div class="col-md-10">
            <div class="filters-controls">{{ block('active_filters') }}</div>
        </div>
    </div>
    {% endif %}
</div>
{% endif %}
{% endapply %}
{% endblock table_filters %}


{%- block table_head_column_label -%}
{% if head.vars.trans_domain is same as(false) %}{{ head.vars.label }}{% else %}{{ head.vars.label|trans({}, head.vars.trans_domain) }}{% endif %}
{%- endblock table_head_column_label -%}


{% block table_body %}
{% apply spaceless %}
<tbody>
{% if table.rows|length > 0 %}
    {% for row in table.rows %}
        {{ block('table_row') }}
    {% endfor %}
{% else %}
    <td colspan="{% if table.ui.select %}{{ table.heads|length + 1 }}{% else %}{{ table.heads|length }}{% endif %}">
        <p class="text-center"><em>{{ 'no_result'|trans({}, 'EkynaTable') }}</em></p>
    </td>
{% endif %}
</tbody>
{% endapply %}
{% endblock table_body %}


{% block table_footer %}
{% apply spaceless %}
<div class="row table-footer">
    {# SELECTION #}
    <div class="col-md-2 table-select">
        {% if table.ui.select %}   {# TODO only for multiple mode #}
        <div class="checkbox">
            <label>
                <input type="checkbox" name="{{ table.ui.select.all }}" value="1">
                {{ 'all_elements'|trans({}, 'EkynaTable') }}
            </label>
        </div>
        {% endif %}
    </div>

    {# ACTIONS #}
    <div class="col-md-4 table-batch">
        {% if table.ui.batch %}
        <div class="input-group input-group-sm">
            <select name="{{ table.ui.batch.name }}" class="form-control">
                <option value="" disabled selected>{{ 'select_action'|trans({}, 'EkynaTable') }}</option>
                {% for choice in table.ui.batch.choices %}
                    <option value="{{ choice.value }}">
                        {{ choice.label|trans|raw }}{# TODO trans domain #}
                    </option>
                {% endfor %}
            </select>
            <span class = "input-group-btn">
                <button type="submit" value="batch"
                        name="{{ table.ui.batch.button }}"
                        class="btn btn-primary btn-sm">
                    {{ 'execute'|trans({}, 'EkynaTable') }}
                </button>
            </span>
        </div>
        {% endif %}
    </div>

    {# EXPORT #}
    <div class="col-md-4 table-export">
        {% if table.ui.export %}
        <div class="input-group input-group-sm">
            <select name="{{ table.ui.export.name }}" class="form-control">
                <option value="" disabled selected>{{ 'select_format'|trans({}, 'EkynaTable') }}</option>
                {% for choice in table.ui.export.choices %}
                    <option value="{{ choice.value }}">
                        {{ choice.label }}
                    </option>
                {% endfor %}
            </select>
            <span class="input-group-btn">
                <button type="submit" value="export"
                        name="{{ table.ui.export.button }}"
                        class="btn btn-primary btn-sm">
                    {{ 'export'|trans({}, 'EkynaTable') }}
                </button>
            </span>
        </div>
        {% endif %}
    </div>

    {# CONFIG #}
    <div class="col-md-2 table-config text-right">
        {# GRID #}
        {% if table.ui.config %}
        <div class="dropup config-grid">
            <button class="btn btn-sm btn-primary dropdown-toggle" type="button"
                    id="{{ table.vars.name }}_config" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-th"></span>&nbsp;
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="{{ table.vars.name }}_config">
                <li>
                    {% for choice in table.ui.config.column.choices %}
                    <div class="checkbox">
                        <label>
                            <input name="{{ table.ui.config.column.name }}"
                                   value="{{ choice.value }}" type="checkbox"
                                    {% if choice.active %} checked="checked"{% endif %}>
                            {{ choice.label|trans }}{# TODO trans domain #}
                        </label>
                    </div>
                    {% endfor %}
                </li>
                <li class="form-inline">
                    <label for="{{ table.ui.config.max_per_page.name }}">
                        {{ 'per_page'|trans({}, 'EkynaTable') }}
                    </label>
                    <select id="{{ table.ui.config.max_per_page.name }}"
                            name="{{ table.ui.config.max_per_page.name }}"
                            class="form-control input-sm">
                    {% for choice in table.ui.config.max_per_page.choices %}
                        <option value="{{ choice.value }}"
                                {% if choice.active %} selected="selected"{% endif %}>
                            {{ choice.label }}
                        </option>
                    {% endfor %}
                    </select>
                </li>
                <li class="text-center">
                    <button type="submit" value="config"
                            name="{{ table.ui.config.button }}"
                            class="btn btn-xs btn-primary">
                        {{ 'apply'|trans({}, 'EkynaTable') }}
                    </button>
                </li>
            </ul>
        </div>
        {% endif %}

        {# PROFILES #}
        {% if table.ui.profile %}
        <div class="dropup config-profiles">
            <button class="btn btn-sm btn-primary dropdown-toggle" type="button"
                    id="{{ table.vars.name }}_profiles" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-file"></span>&nbsp;
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="{{ table.vars.name }}_profiles">
                <li>
                    <div class="input-group input-group-sm">
                        <select name="{{ table.ui.profile.select.name }}" class="form-control">
                            <option value="" disabled selected>{{ 'profile.select'|trans({}, 'EkynaTable') }}</option>
                            {% for choice in table.ui.profile.select.choices %}
                            <option value="{{ choice.value }}">
                                {{ choice.label }}
                            </option>
                            {% endfor %}
                        </select>
                        <span class="input-group-btn">
                            <button type="submit" value="load"
                                    name="{{ table.ui.profile.select.load_button }}"
                                    class="btn btn-primary btn-sm"
                                    title="{{ 'profile.load'|trans({}, 'EkynaTable') }}">
                                <span class="glyphicon glyphicon-play"></span>
                            </button>
                            <button type="submit" value="edit"
                                    name="{{ table.ui.profile.select.edit_button }}"
                                    class="btn btn-warning btn-sm"
                                    title="{{ 'profile.edit'|trans({}, 'EkynaTable') }}">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button type="submit" value="remove"
                                    name="{{ table.ui.profile.select.remove_button }}"
                                    class="btn btn-danger btn-sm"
                                    title="{{ 'profile.remove'|trans({}, 'EkynaTable') }}"
                                    onclick="return confirm('{{ 'profile.confirm'|trans({}, 'EkynaTable') }}')">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </li>
                <li>
                    <div class="input-group input-group-sm">
                        <input name="{{ table.ui.profile.create.name }}"
                               class="form-control" placeholder="{{ 'profile.name'|trans({}, 'EkynaTable') }}"/>
                        <span class="input-group-btn">
                            <button type="submit" value="create"
                                    name="{{ table.ui.profile.create.button }}"
                                    class="btn btn-success btn-sm"
                                    title="{{ 'profile.new'|trans({}, 'EkynaTable') }}">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
        {% endif %}
    </div>
</div>

{# PAGINATION #}
{% if table.pager.nbPages > 1 %}
<div class="table-pager text-center">
    {{ ekyna_table_pager(table) }}
</div>
{% endif %}

{% endapply %}
{% endblock table_footer %}


{% block available_filters %}
{% apply spaceless %}
{% for filter in table.available_filters %}
<a href="{{ filter.vars.add_filter_href }}"
   class="btn btn-xs btn-primary">
    {% if filter.vars.trans_domain is same as(false) %}{{ filter.vars.label }}{% else %}{{ filter.vars.label|trans({}, filter.vars.trans_domain) }}{% endif %}
    <span class="glyphicon glyphicon-plus-sign"></span>
</a>
{% endfor %}
{% endapply %}
{% endblock available_filters %}


{% block active_filters %}
{% apply spaceless %}
{% for filter in table.active_filters %}
<a href="{{ filter.vars.remove_filter_href }}"
   class="btn btn-xs btn-success">
    <strong>
        {%- if filter.vars.trans_domain is same as(false) %}{{ filter.vars.label }}{% else %}{{ filter.vars.label|trans({}, filter.vars.trans_domain) }}{% endif -%}
    </strong>&nbsp;
    <em>{{ filter.vars.operator }}&nbsp;</em>
    {% if filter.vars.value is not empty -%}
    &laquo;&nbsp;{{ block('active_filter_value') }}&nbsp;&raquo;
    {%- endif %}
    <span class="glyphicon glyphicon-minus-sign"></span>
</a>
{% endfor %}
{% endapply %}
{% endblock active_filters %}


{% block active_filter_value %}
{% apply spaceless %}
    {%- if filter.vars.trans_domain is same as(false) -%}
        {%- if filter.vars.value is iterable -%}
        {%- for val in filter.vars.value -%}
            {{- val -}}
            {%- if not loop.last %}, {% endif -%}
        {%- endfor -%}
        {%- else -%}
            {{- filter.vars.value -}}
        {%- endif -%}
    {%- else -%}
        {%- if filter.vars.value is iterable -%}
            {%- for val in filter.vars.value -%}
                {{- val|trans({}, filter.vars.trans_domain) -}}
                {%- if not loop.last %}, {% endif -%}
            {%- endfor -%}
        {%- else -%}
            {{- filter.vars.value|trans({}, filter.vars.trans_domain) -}}
        {%- endif %}
    {%- endif -%}
{% endapply %}
{% endblock active_filter_value %}


{# CELLS #}


{%- block number_cell -%}
    {%- if value is not null -%}
    {{- value|round(precision)|format_number -}}
    {%- if append is not same as (null) %}&nbsp;{{ append }}{% endif -%}
    {%- endif -%}
{%- endblock number_cell -%}


{%- block price_cell -%}
    {{- value|format_currency(currency, format_options) -}}
{%- endblock price_cell -%}


{%- block choice_cell_value -%}
    {%- if choice.label is defined -%}
        {%- if trans_domain is same as(false) -%}
            {{ choice.label|raw }}
        {%- else -%}
            {{ choice.label|trans({}, trans_domain)|raw }}{# TODO per choice trans domain #}
        {%- endif -%}
    {%- else -%}
        {{ choice.value }}
    {%- endif -%}
{%- endblock choice_cell_value -%}


{%- block entity_cell %}
    {%- for choice in value -%}
        {%- if not loop.first -%}
            {{- loop.revindex0 == 1 ? ' and ' : ', ' -}}
        {%- endif -%}
        {{- block('entity_cell_value') -}}
    {%- endfor %}
{% endblock entity_cell -%}

{%- block entity_cell_value -%}
    {% if choice.tag is defined and choice.tag is not empty -%}
    <{{ choice.tag }}{% with {attr: choice.attr|default({'href': 'javascript:void(0)'}) } only %}{{ block('attributes') }}{% endwith %}>
        {{- block('choice_cell_value') -}}
    </{{ choice.tag }}>
    {%- else -%}
        {{ block('choice_cell_value') }}
    {%- endif %}
{%- endblock entity_cell_value -%}


{%- block boolean_cell_value -%}
    {%- if trans_domain is same as(false) %}{{ label }}{% else %}{{ label|trans({}, trans_domain) }}{% endif -%}
{%- endblock boolean_cell_value -%}

{%- block date_time_cell -%}
    {%- if value is same as(null) -%}
        <em>{{ 'undefined'|trans({}, 'EkynaTable') }}</em>
    {%- else -%}
        {{- value|format_datetime(date_format, time_format) -}}
    {%- endif -%}
{%- endblock date_time_cell -%}


{%- block anchor_cell -%}
    {%- if anchor is not defined -%}
        &nbsp;
    {%- elseif anchor is iterable -%}
        {% for object in anchor -%}
            {% block anchor %}
            <a{% with {'attr': object.attr} %}{{ block('attributes') }}{% endwith %}>
                {{ object.label|raw }}
            </a>
            {% endblock %}
        {% else %}
            &nbsp;
        {% endfor -%}
    {%- else -%}
        {% with {'object': anchor} %}{{ block('anchor') }}{% endwith %}
    {%- endif -%}
{%- endblock anchor_cell -%}


{%- block actions_cell -%}
    {%- for button in buttons -%}
        {%- if button.disabled -%}
            <a href="javascript:void(0)" class="btn btn-xs btn-{{ button.theme }} disabled">
                {{- block('action_button_label') -}}
            </a>
        {%- else -%}
            <a href="{{ button.route ? path(button.route, button.parameters) : button.path }}"
               class="btn btn-xs btn-{{ button.theme }}"
               {% if button.trans_domain is same as(false) -%}
                   title="{{ button.label }}"
                   {%- if button.confirm is not empty %} onclick="return confirm('{{ button.confirm|e('js') }}')"{% endif -%}
               {%- else -%}
                   title="{{ button.label|trans({}, button.trans_domain) }}"
                   {%- if button.confirm is not empty %} onclick="return confirm('{{ button.confirm|trans({}, trans_domain)|e('js') }}')"{% endif -%}
               {%- endif %}
               {%- if button.target is not empty %} target="{{ button.target }}"{% endif %}>
                {{- block('action_button_label') -}}
            </a>
        {%- endif -%}
    {%- endfor -%}
{%- endblock actions_cell -%}


{%- block action_button_label -%}
    {%- if button.icon|length > 0 -%}
        <span class="{{ button.fa_icon ? 'fa fa-' : 'glyphicon glyphicon-' }}{{ button.icon }}"></span>
    {%- else -%}
    {% if button.trans_domain is same as(false) -%}{{ button.label }}{% else %}{{ button.label|trans({}, button.trans_domain) }}{% endif %}
    {%- endif -%}
{%- endblock action_button_label -%}


{%- block nested_actions_cell -%}
    {{- block('actions_cell') -}}
{%- endblock nested_actions_cell -%}


{%- block nested_anchor_cell -%}
    {%- for node in nodes -%}
        {%- if node.type == 'button' -%}
            <a href="javascript: void(0);" class="{{ node.class }}" data-children="{{ node.children }}"></a>
        {%- else -%}
            <i class="{{ node.class }}"></i>
        {%- endif -%}
    {%- endfor -%}
    {{- block('anchor_cell') -}}
{%- endblock nested_anchor_cell -%}
